# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.classpath
.project
.idea/
.settings/
bin/
config/
res/
bintray.properties
/module/
run/
src/test/
compileLibs/
debug.log
test/
