<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name="File" fileName="debug.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{0} - %msg%n"/>
        </File>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{0} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="uk.co.innoxium" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>